:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif; }

body {
  background-color: rgba(128, 128, 128, 0.164); }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 0 6.5rem;
  width: 50%; }
  @media screen and (max-width: 58.75em) {
    .nav-bar {
      width: 65%; } }
  @media screen and (max-width: 28.125em) {
    .nav-bar {
      width: 55%;
      padding: 5rem 0 0 3.5rem; } }
  .nav-bar_hamburger {
    display: none;
    height: 1.7rem;
    transform: translateY(-0.2rem); }
    @media screen and (max-width: 450px) {
      .nav-bar_hamburger {
        display: inline-block; } }
  .nav-bar_ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 65%; }
    @media screen and (max-width: 28.125em) {
      .nav-bar_ul {
        display: none; } }
  .nav-bar_link:link, .nav-bar_link:visited {
    text-decoration: none;
    color: var(--White);
    font-weight: 700; }

.text-box {
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem 0 7vw;
  margin-top: 11rem; }
  @media screen and (max-width: 65.625em) {
    .text-box {
      padding: 0 3rem 0 6rem; } }
  @media screen and (max-width: 58.75em) {
    .text-box {
      min-height: 41.1vh;
      padding: 0 6rem 0 10vw;
      margin-top: 0; } }
  .text-box_h-1 {
    font-size: clamp(2.5rem, 2.3vw, 3.5rem);
    margin-bottom: 3rem;
    line-height: 1.2; }
    @media screen and (max-width: 25.625em) {
      .text-box_h-1 {
        font-size: clamp(2rem, 2vw, 3rem); } }
  .text-box_p {
    margin-bottom: 5rem;
    font-size: clamp(1rem, 0.74vw, 2.5rem);
    color: var(--Dark-Gray);
    line-height: 1.6;
    font-weight: 600; }
    @media screen and (max-width: 58.75em) {
      .text-box_p {
        font-size: clamp(1.2rem, 1vw, 2.5rem); } }
    @media screen and (max-width: 25.625em) {
      .text-box_p {
        font-size: clamp(0.9rem, 1vw, 2rem); } }
  .text-box_btn-box {
    display: flex; }
  .text-box_btn {
    border: none;
    background-color: var(--White);
    margin-right: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.15rem;
    font-weight: 600; }
    @media screen and (max-width: 25.625em) {
      .text-box_btn {
        font-size: clamp(0.65rem, 1vw, 2rem);
        letter-spacing: 0.7rem; } }
  .text-box_ra {
    display: flex; }
  .text-box_ra:hover {
    cursor: pointer; }

.btn-940 {
  display: none;
  justify-self: flex-end;
  width: 10rem;
  height: 6rem;
  align-self: flex-end; }
  @media screen and (max-width: 58.75em) {
    .btn-940 {
      display: flex; } }

.btn {
  align-self: flex-start;
  width: 14.7rem;
  height: 8rem;
  display: flex; }
  @media screen and (max-width: 58.75em) {
    .btn {
      display: none; } }

.btn,
.btn-940 {
  justify-self: flex-end;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  border: none; }
  .btn_item,
  .btn-940_item {
    height: 2.5rem; }
  .btn_item:hover,
  .btn-940_item:hover {
    cursor: pointer; }

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block; }
  @media screen and (max-width: 940px) {
    .img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      display: block;
      object-position: center; } }

.middle {
  background-color: var(--White); }
  .middle_text-box {
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem; }
    @media screen and (max-width: 65.625em) {
      .middle_text-box {
        min-height: 20vh;
        padding: 0 3rem; } }
    @media screen and (max-width: 58.75em) {
      .middle_text-box {
        min-height: 20vh;
        padding: 0 6rem 0 10vw; } }
    @media screen and (max-width: 18.75em) {
      .middle_text-box {
        text-align: center; } }
  .middle_h-3 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 58.75em) {
      .middle_h-3 {
        font-size: clamp(2rem, 2.5vw, 3rem); } }
    @media screen and (max-width: 31.25em) {
      .middle_h-3 {
        font-size: clamp(1.4rem, 2vw, 3rem); } }
    @media screen and (max-width: 18.75em) {
      .middle_h-3 {
        font-size: clamp(1rem, 1.5vw, 2rem); } }
  .middle_p {
    font-size: clamp(0.9rem, 0.74vw, 1rem);
    color: var(--Dark-Gray);
    line-height: 1.6;
    font-weight: 600; }
    @media screen and (max-width: 58.75em) {
      .middle_p {
        font-size: clamp(1rem, 1.5vw, 2.5rem); } }
    @media screen and (max-width: 31.25em) {
      .middle_p {
        font-size: clamp(0.75rem, 1.5vw, 2.2rem); } }
    @media screen and (max-width: 18.75em) {
      .middle_p {
        font-size: clamp(0.7rem, 1.5vw, 2rem); } }

.container {
  max-width: 1440px;
  min-height: 90vh;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  @media screen and (max-width: 1440px) {
    .container {
      margin: 0; } }
  @media screen and (max-width: 940px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(min-content, max-content)); } }

.top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr; }
  @media screen and (max-width: 940px) {
    .top {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(40vh, 50vw) minmax(min-content, 40vw); } }

.left-side {
  grid-column: 1 / 2;
  background-image: url(/images/desktop-image-hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 940px) {
    .left-side {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; } }

.right-side {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--White); }
  @media screen and (max-width: 940px) {
    .right-side {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }

.bottom {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1.35fr 1fr;
  grid-template-rows: 1fr; }
  @media screen and (max-width: 940px) {
    .bottom {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(30vh, 40vw)); } }

@media screen and (max-width: 940px) {
  .img-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; } }

.middle {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 940px) {
    .middle {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }

@media screen and (max-width: 940px) {
  .img-2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4; } }

.img-display-off {
  display: none; }
  @media screen and (max-width: 940px) {
    .img-display-off {
      display: block; } }

@media screen and (max-width: 940px) {
  .img-display-on {
    display: none; } }
