:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 0 6.5rem;
  width: 50%; }
  .nav-bar_ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 65%; }
  .nav-bar_link:link, .nav-bar_link:visited {
    text-decoration: none;
    color: var(--White);
    font-weight: 700; }

.container {
  max-width: 1440px;
  background-color: red;
  min-height: 80vh;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }

.top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr; }

.left-side {
  grid-column: 1 / 2;
  background-image: url(/images/desktop-image-hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.right-side {
  grid-column: 2 / 3; }

.botoom {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }
