:root {
--Dark-Gray: hsl(0, 0%, 63%);
--Black: hsl(0, 0%, 0%);
--White: hsl(0, 0%, 100%);
--Very-Dark-Gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.164);
}