.container {
    max-width: 1440px;
    min-height: 90vh;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    @media screen and (max-width: 940px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
    }
}

.top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;

    @media screen and (max-width: 940px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(40vh, 50vw) minmax(min-content, 40vw);
    }
}

.left-side {
   grid-column: 1 / 2;
   background-image: url(/images/desktop-image-hero-1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   @media screen and (max-width: 940px) {
       grid-column: 1 / 2;
       grid-row: 1 / 2;

       display: flex;
       flex-direction: column;
       justify-content: space-between;
}
}

.right-side {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--White);

    @media screen and (max-width: 940px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1.35fr 1fr;
    grid-template-rows: 1fr;

    @media screen and (max-width: 940px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(3, minmax(min-content, 40vw));
    }
}


.img-1 {
    @media screen and (max-width: 940px) {
         grid-column: 1 / 2;
         grid-row: 1 / 2;
    }
}

.middle {
    display: flex;
    align-items: center;

    @media screen and (max-width: 940px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
   }
}

.img-2 {
    @media screen and (max-width: 940px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
   }
}